/* enable darkmode */
:root {
    -webkit-color-scheme: light dark;
}

*{
    font-family: 'Roboto', sans-serif;
    color: black;
    transition: color 1s;
}

body{
    background-color: white;
    max-width: 660px;
    margin: auto;
    transition: background-color 1s;
}

#container{
    display: flex;
}

#container div{
    flex: 2;
}
#container :first-child{
    max-width: 170px;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: #1f1f1f;
        transition: background-color 1s;
    }
    h1{
        color: #d5d5d5;
        transition: color 1s;
    }
    *{
        color: white;
        transition: color 1s;
    }
}